<meta charset="UTF-8">
<title><%= title %> | Portfolio site for Bolu Agbana, OBAA.IO</title>

<link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="512x512" href="/images/android-chrome-512x512.png">
<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
<link rel="icon" type="image/x-icon" href="/images/favicon.ico">
<link rel="manifest" href="/images/site.webmanifest">

<!-- Bootstrap CSS from local CDN) -->
<link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />

<!-- Simple Notify CSS from local CDN) -->
<link rel='stylesheet' href='/stylesheets/simple-notify.min.css' />

<!-- Main stylesheet from local CDN) -->
<link rel='stylesheet' href='/stylesheets/main.css' />
