<meta charset="UTF-8">
<title><%= title %> | Portfolio site for Bolu Agbana, OBAA.IO</title>

<!-- Bootstrap CSS from local CDN) -->
<link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />

<!-- Simple Notify CSS from local CDN) -->
<link rel='stylesheet' href='/stylesheets/simple-notify.min.css' />

<!-- Main stylesheet from local CDN) -->
<link rel='stylesheet' href='/stylesheets/main.css' />
